<div class="position-relative">
	<app-loading-overlay *ngIf="isLoading$ | async"></app-loading-overlay>
	<div class="container">
		<app-error-message
			*ngIf="error$ | async"
			[error]="error$ | async"
			(clearError)="hideError()">
		</app-error-message>
		<div class="mb-1">
			<button mat-button (click)="refresh()"
							mat-raised-button
							color="primary">Refresh</button>
		</div>
		<app-currency-details *ngIf="selectedCurrency$ | async"
													[currency]="selectedCurrency$ | async"
													[fiatCurrency]="fiatCurrency$ | async">
		</app-currency-details>
	</div>
</div>
